# Build results
bin/
obj/
artifacts/
TestResults/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# VS Code
.vscode/

# NuGet
*.nupkg
*.snupkg
packages/

# OS files
.DS_Store
Thumbs.db
